.prime-footer {
  border-top: 5px $primary-color-dark solid;
  height: auto;
  .footer-div-map {
    height: 50vh;
    .footer-map {
      height: 100%;
    }
  }
  .footer-bar-row {
    background-color: $light-color;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    .dev-logo{
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      @include transition(1s);
      &:hover{
        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
      }
    }
    .footer-text{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 22;
      font-family: Dancing_Script-Bold;
    }
    .footer-bar-divs {
      height: 100%;
    }
    .footer-text-cop{
      font-size: 1em;
      font-family: Tulpen_one;
      letter-spacing: 0.2em;
    }
  }
}