$primary-color: #00ACEE;
$primary-light: #edf6f9;
$primary-color-dark: #1c6091;
$dark-color: #363435;
$light-color: #FFFFFF;

$logo-primary-color: #116466;
$logo-background: #17252a;
$logo-background-two: #1a1a1c;
$logo-lk-color: #dff2f1;

$color-error: #f50057;