@font-face {
  font-family: Orbitron-Medium;
  src: url(../fonts/Orbitron/Orbitron-Medium.ttf)  format('truetype');
}

@font-face {
  font-family: Raleway-Light;
  src: url(../fonts/Raleway/Raleway-Light.ttf)  format('truetype');
}

@font-face {
  font-family: Dancing_Script-Regular;
  src: url(../fonts/Dancing_Script/DancingScript-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: Dancing_Script-Bold;
  src: url(../fonts/Dancing_Script/DancingScript-Bold.ttf)  format('truetype');
}

@font-face {
  font-family: Fjalla_One;
  src: url(../fonts/Fjalla_One/FjallaOne-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: Megrim;
  src: url(../fonts/Megrim/Megrim.ttf)  format('truetype');
}

@font-face {
  font-family: Tulpen_one;
  src: url(../fonts/Tulpen_One/TulpenOne-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: Ramabhadra;
  src: url(../fonts/Ramabhadra/Ramabhadra-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: BerkshireSwash;
  src: url(../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: Sofia;
  src: url(../fonts/Sofia/Sofia-Regular.ttf)  format('truetype');
}